<div class="row">
    <div class="col-md-12"><br /></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-2">
                <img src="@Url.Content("~/Image/Paginas/PlanoContas-Gray.png")" style="width:100%" />
            </div>
            <div class="col-md-9">
                <h1 style="font-size:60px">Plano de Contas</h1>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        @*<div class="row">
                <div class="col-md-12"><br /></div>
                <div class="col-md-12">
                    <label id="lblPlanoContas">Plano</label>
                </div>
                <div class="col-md-12">
                    @Html.DropDownList("ddlPlanoContas", (new SelectListItem[] {
                    new SelectListItem() { Text = "Selecione...", Value = "-1" },
                    new SelectListItem() { Text = "Atual", Value = "0" },
                    new SelectListItem() { Text = "Fechados", Value = "1" } }),
                    new { onchange = @"form.submit();", @class = "form-control" })
                </div>
            </div>*@
    </div>
</div>
